@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

:root {
	--primary-colour: #1e0b42;
	--secondary-colour: #c1abea;
	--correct-colour: #4d9e4d;
	--incorrect-colour: #be2e29;
	--close-colour: #be7d29;
	--pass-button-colour: #6d6d6d;
	--pass-colour: #61a2c7;
	--solved-colour: #77c077;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body, #root {
	height: 100%;
	
}

#game {
	width: fit-content;
	max-width: 500px;
	max-height: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

#game.solved {
	background-color: var(--solved-colour);
}

body {
	font-family: 'Lato', sans-serif;	
	font-size: 20px;
	line-height: 1.6;
	background-color: var(--primary-colour);
	color: white;
}


/* -------------- header -------------- */

header {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: nowrap;
  	height: 60px; 	
}

#admin header {
	justify-content: center;
}

header h1 {
	font-family: 'Rubik Glitch', cursive;
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: normal;
}

#help {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#stats {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#admin #help, #admin #stats {
	display: none;
}


/* -------------- picture -------------- */

#picture {
	margin: 0 auto;
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#picture img {
	border: 1px solid white;
}

#picture .image {
	width: 100%;
	/* height: 100%; */
}

#picture.guessing {
	width: 70%;
}

#answer {
    position: absolute;
    width: 100%;
    left: 0;
	top: 0;
	background-color: white;
	color: var(--correct-colour);
	font-size: 26px;
	line-height: 1.3;
	font-weight: bold;	
}

#score {
    position: absolute;
    width: 100%;
    left: 0;
	bottom: 20px;
	color: var(--correct-colour);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#scoreInner {  
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	/* width: 100%;
	background-color: rgba(255, 255, 255, 0.35); */
}

#scoreInner div {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: 0 2px;
	border: 1px solid gray;
}

#share {
	background-color: var(--correct-colour);
	color: white;
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	border: 1px solid white;
	cursor: pointer;
}


/* -------------- game rounds -------------- */

#gameRounds {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	align-items: center	;
	margin: 10px 0;	
	gap: 5px;
}

.gameRound {
	display: flex;
	gap: 10px;
	width: 100%;
	padding: 4px;
	color: #d8d8d8;
}

.gameRound.current {
	/* background-color: #3f2868; */
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.correct {
	background-color: var(--correct-colour);
}

.incorrect {
	background-color: var(--incorrect-colour);
}

.close {
	background-color: var(--close-colour);
}

.pass {
	background-color: var(--pass-colour);
}

.blank {
	background-color: white;
}

.roundNo {
	width: 110px;	
	text-align: left;
}

.roundContent {
	flex-grow: 1;
	display: flex;
	gap: 10px;
	width: 100%;
	font-weight: bold;
	align-items: center;
}

.roundContent svg {
	width: 1.5em;
	height: 1.5em;
}

.roundGuess {
	flex-grow: 1;
	text-align: left;
}

.btn {
	font-size: 20px;
	color: #333;
	/* border-radius: 4px;	 */
	border: none;
	padding: 4px;
	font-weight: bold;
	width: 50%;
}

.btnGuess, .btnSubmit {
	background-color: var(--correct-colour);
	color: white;
}
	
.btnPass {
	background-color: var(--pass-button-colour);
	color: white;
}
	
.inputGuess {
	width: 0;
	flex-grow: 1;
	font-size: 20px;
	padding: 3px;
}

.inputGuess:focus {
	outline: none;
}

.btnSubmit {
	width: 40px;
}


/* -------------- modal dialog -------------- */

#modal {
	background-color: var(--primary-colour) !important;
	width: 90%;
	max-width: 460px;
	inset: 60px 5% !important;	
	margin: 0 auto;
}

#modal h2 {
	font-size: 1em;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

#modal p {
	margin: 20px 0;
}

.modalClose {
	position: absolute;
	top: 18px;
	right: 20px;
	width: 30px;
	height: 30px;
}


/* -------------- stats dialog -------------- */

#statsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.statsSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	margin-bottom: 20px;
}

.statsLabel {
	font-size: 12px;
	line-height: 1.1;
	text-align: center;
}

.statsValue {
	font-size: 26px;
	font-weight: bold;
	line-height: 1.2;
}

.statsSection.winRate {
	width: 100%;
}

.statsSection.winRate .statsValue {
	font-size: 40px;
}

#graphContainer {
	display: flex;
	justify-content: center;
	gap: 20px;
	height: 200px;
	margin-top: 30px;
}

.graphSection {
	display: flex;
	flex-direction: column;
	width: 20px;
	height: 100%;
	justify-content: flex-end;
}

.graphBarOuter {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.graphBar {
	background-color: white;
	color: var(--primary-colour);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
}

.graphLabel {
	text-align: center;
	font-size: 14px;
}


/* -------------- admin -------------- */

#admin {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

#admin h2 {
	margin-bottom: 20px;
}

#admin main {
	height: calc(100% - 70px);
}

/* -------------- admin login -------------- */

form.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form.loginForm .error {
	color: red;
	margin-top: 3vh;
	height: 1em;
}

form.loginForm .form-control {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form.loginForm label {
	margin-bottom: 2px;
	margin-top: 2em;
	font-size: 0.9em;
}

form.loginForm input {
	display: block;
	font-size: 1.2em;
	padding: 5px;
	text-align: center;
}

form.loginForm .emailInput {
	width: 18em;
	max-width: 90vw;
}

form.loginForm .passwordInput {
	width: 18em;
}

.loginForm .btn {
	margin-top: 20px;
	background-color: var(--secondary-colour);
	font-size: 1.2em;
	width: 18em;
	border-radius: 6px;
}

#logoutButton {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 300px;
    background: none;
    border: none !important;
    display: inline-block;
    color: white;
    text-decoration: underline;
    width: auto;
    font-size: 1em;
	font-weight: normal;
	cursor: pointer;
}

/* -------------- admin pictures -------------- */

#adminPicturesBodyContainer {
	height: calc(100% - 100px);
	overflow: auto;
}

.adminPictures {
	width: 100%;
	border-collapse: collapse;
}

.adminPictures img {
	width: 70px;
	height: 70px;
	vertical-align: middle;
}

.adminPictures th {
	background-color: var(--secondary-colour);
	color: var(--primary-colour);
	text-align: left;
	padding: 2px 8px;
}

.adminPictures td {
	border-top: 1px solid var(--secondary-colour);
	text-align: left;
	padding: 8px;
}

.adminPictureNumber {
	width: 120px;
}

.adminPictureDate {
	width: 150px;
}

.adminPictureAnswer {
	width: 250px;
}

.adminPictureAlternativeAnswers {
	width: 250px;
}

